nav {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  backdrop-filter: blur(10px); /* 네비게이션 바 배경에 블러 효과 추가 */
}

.nav_container {
  width: 100%;
  _max-width: 1200px; /* 필요한 경우 최대 너비를 설정 */
  margin: 0 auto;
  padding: 0 80px;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav_left,
.nav_right {
  display: flex;
  gap: 0 40px;
  font-size: 16px;
  color: #bbbbbb;
}

/* 로고 가로 중앙 정렬 */
.nav_logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

li:hover {
  color: #222222;
  cursor: pointer;
}
