nav {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  position: relative;
  backdrop-filter: blur(10px); /* 네비게이션 바 배경에 블러 효과 추가 */
}

.nav_container {
  width: 100%;
  _max-width: 1200px; /* 필요한 경우 최대 너비를 설정 */
  margin: 0 auto; /* 좌우 가운데 정렬 */
  padding: 0 80px; /* 화면 양쪽에 여유 공간을 줌 */
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left,
.nav_right {
  display: flex;
  gap: 0 40px;
  font-size: 16px;
  color: #bbbbbb;
}

li:hover {
  color: #222222;
  cursor: pointer;
}
