nav {
  /* margin-top: 40px; */
  position: sticky;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(186, 186, 186, 0.5);
  width: 100%;
}

.nav_container {
  width: 100%;
  _max-width: 1200px; /* 필요한 경우 최대 너비를 설정 */
  margin: 0 auto; /* 좌우 가운데 정렬 */
  padding: 0 80px; /* 화면 양쪽에 여유 공간을 줌 */
}

.nav_wrapper {
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left,
.nav_right {
  display: flex;
  /* padding: 0 40px; */
  gap: 40px;
  font-size: 14px;
  color: #bbbbbb;
}

li:hover {
  color: #222222;
  cursor: pointer;
}
