.page-title {
  font-size: 32px; /* 적절한 폰트 크기 */
  font-weight: 600;
  text-align: center; /* 중앙 정렬 */
  color: black;
  margin-top: 140px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.signup-form label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #4b3b31;
}

.signup-form input {
  width: 540px;
  height: 50px;
  padding: 0.75rem; /* 입력 필드 내부 여백 */
  border: 1px solid #ddd; /* 입력 필드 경계선 */
  border-radius: 8px; /* 모서리 둥글게 */
  font-size: 14px;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px; /* 메시지와 입력 필드 간격 */
}

.signup-form button {
  margin-top: 40px;
  width: 100%; /* 버튼 너비 */
  padding: 0.75rem; /* 버튼 내부 여백 */
  background-color: #4b3b31; /* 버튼 배경색 */
  color: #ffffff; /* 버튼 텍스트 색상 */
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
