.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 120px;
}

.signup-form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 800;
  color: #333;
}

.signup-form input {
  width: 100%; /* 입력 필드 너비 */
  padding: 0.75rem; /* 입력 필드 내부 여백 */
  border: 1px solid #ddd; /* 입력 필드 경계선 */
  border-radius: 4px; /* 모서리 둥글게 */
  font-size: 1rem;
  box-sizing: border-box; /* 패딩을 포함하여 너비 계산 */
}

.error {
  color: #e74c3c;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px; /* 메시지와 입력 필드 간격 */
}

.signup-form button {
  margin-top: 40px;
  width: 100%; /* 버튼 너비 */
  padding: 0.75rem; /* 버튼 내부 여백 */
  background-color: #4b3b31; /* 버튼 배경색 */
  color: #ffffff; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
