.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px; /* 메시지와 입력 필드 간격 */
}

.signup-form button {
  margin-top: 40px;
  width: 100%; /* 버튼 너비 */
  padding: 0.75rem; /* 버튼 내부 여백 */
  background-color: #4b3b31; /* 버튼 배경색 */
  color: #ffffff; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
