.detail-container {
  display: flex;
  width: 100%;
  margin: 120px 0;
  padding-left: 80px;
}

.image-container {
  width: 52%;
}

.image-gallery {
  height: 750px;
}

.image-gallery img {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  background-color: #ccc;
  display: block;
  object-fit: cover;
}

.product-details {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: 80px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 80px; /* 내부 패딩 조정 */
}

.details-product-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.details-product-price {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.details-product-description {
  font-size: 16px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 20px;
  max-width: 80%;
}

.quantity-selector {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-selector input {
  width: 40px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.minus-icon,
.plus-icon {
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  padding: 0;
}

.button-container {
  display: flex;
  gap: 20px;
}

.buy-now,
.add-to-cart {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.buy-now {
  width: 150px;
  background-color: #333;
}

.add-to-cart {
  width: 150px;
  background-color: #555;
}
