.product-section {
  width: 100%;
  height: 100%;
}

.gender {
  text-align: left;
  padding: 50px;
  background-color: lightgray;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
}

.product-images {
  width: 100%;
  background-color: #fff;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.product-img {
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

.product-img h2,
.product-img p {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
}

.product-img h2 {
  top: 40%;
  font-size: 34px;
}

.text {
  top: 50%;
  font-size: 16px;
}

.price {
  top: 70%;
  font-size: 14px;
}
