.product-section {
  display: flex;
  margin: 0 0 60px 0;
  flex-direction: column;
}

.item-menu {
  display: flex;
  gap: 15px;
  padding-left: 50px;
}

.menu-button {
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button.active {
  background-color: #000;
  color: #fff;
}

.menu-button:hover {
  background-color: #e0e0e0;
}

.section product-images {
  width: 100%;
  height: 100%;
}

.gender {
  text-align: left;
  padding: 50px;
  margin-top: 70px;
  height: 120px;
}

.gender h1 {
  font-size: 36px;
  font-weight: bold;
}

.product-images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 40px;
}

.product-img {
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
}

.product-img h2,
.product-img p {
  text-align: left;
  width: 100%;
  padding: 5px 0 0 10px;
}

.product-img h2 {
  font-weight: bold;
}

.product-img p {
  font-size: 14px;
  color: #555;
}
