.celeb-section {
  width: 100%;
  height: 100%;
}

.title {
  text-align: left;
  padding: 50px;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
}

.celeb-images {
  width: 100%;
  background-color: #fff;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.celeb-img {
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.celeb-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

.celeb-img h2,
.celeb-img p {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
}

.celeb-img h2 {
  top: 40%;
  font-size: 34px;
}

.text {
  top: 50%;
  font-size: 16px;
}

.celeb-price {
  top: 70%;
  font-size: 14px;
}

.celeb-img.hover img {
  filter: brightness(0.5); /* 이미지 어둡게 */
}

.celeb-img.hover h2,
.celeb-img.hover p {
  opacity: 1; /* 텍스트가 보이게 */
}
