.swiper-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Swiper가 전체 화면을 차지하도록 설정 */
.mySwiper {
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  height: 100%; /* 전체 높이를 차지하도록 설정 */
  position: absolute; /* 다른 요소와 겹치도록 설정 */
  top: 0; /* 화면 상단에 위치하도록 설정 */
  left: 0; /* 화면 왼쪽에 위치하도록 설정 */
}

/* 각 슬라이드가 전체 화면을 차지하도록 설정 */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100vh; /* 슬라이드 높이를 전체 화면 높이로 설정 */

  /* 슬라이드 내용 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 슬라이드 내 이미지가 슬라이드를 채우도록 설정 */
.swiper-slide img {
  display: block; /* 블록 요소로 설정 */
  width: 100%; /* 이미지 너비를 슬라이드 너비와 맞춤 */
  height: 100%; /* 이미지 높이를 슬라이드 높이와 맞춤 */
  object-fit: cover; /* 이미지가 슬라이드를 완전히 채우도록 설정 */
}

/* 페이지네이션 위치 조정 */
.mySwiper .swiper-pagination {
  bottom: 30px;
}

/* 페이지네이션 점 커스터마이징 */
.mySwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.3;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 0.8;
}

/* 기본 네비게이션 버튼 스타일 */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  opacity: 0;
  visibility: hidden; /* 기본 상태에서 버튼 숨기기 */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* 마우스가 왼쪽에 있을 때 왼쪽 버튼만 보이도록 설정 */
.swiper-container.hover-left .swiper-button-prev {
  opacity: 0.8;
  visibility: visible;
}

/* 마우스가 오른쪽에 있을 때 오른쪽 버튼만 보이도록 설정 */
.swiper-container.hover-right .swiper-button-next {
  opacity: 0.8;
  visibility: visible;
}

/* 버튼이 가시화될 때의 스타일 설정 */
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: 40px;
}

.swiper-button-next {
  right: 40px;
}
