.section-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 250px;
  background-color: #fff;
  border: none;
}

.section-left {
  padding: 50px;
  display: flex;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  background-color: #ded3cd;
  _border: 1px solid black;
}

.section-left h1 {
  font-size: 40px;
  font-weight: bolder;
}

.section-left h5 {
  font-size: 15px;
}

.section-right {
  display: flex;
  flex: 0.4;
  width: 100%;
  height: 100%;
  _border: 1px solid black;
}

.section-right-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 비율을 유지하면서 div를 꽉 채움 */
}

.section-weekly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 10px 0 10px 0; */
  _border: 1px solid black;
}

.best-item {
  background-color: #fff;
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.best-left {
  flex: 3;
  height: 500px;
  margin-left: 0;
  border: 1px solid black;
}

.best-center {
  flex: 4;
  border: 1px solid black;
  margin: 0 10px;
}

.best-right {
  flex: 3;
  height: 500px;
  margin-right: 0;
  border: 1px solid black;
}

.best-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 비율을 유지하면서 div를 꽉 채움 */
  _border: 1px solid black;
}

.best-item h3 {
  position: absolute;
  font-size: 22px;
  font-weight: 600;
  color: white;
  bottom: 10px;
  left: 5px;
  text-align: left;
  padding: 40px 20px;
}

.best-item p.description {
  position: absolute;
  font-size: 14px;
  bottom: 20px;
  left: 5px;
  text-align: left;
  padding: 0 20px;
  color: white;
}

.best-item p.price {
  position: absolute;
  font-size: 14px;
  bottom: 20px;
  right: 5px;
  text-align: right;
  padding: 0 20px;
  /* color: white; */
}
